<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Jost-Black.ttf</string>
		<string>Jost-BlackItalic.ttf</string>
		<string>Jost-Bold.ttf</string>
		<string>Jost-BoldItalic.ttf</string>
		<string>Jost-ExtraBold.ttf</string>
		<string>Jost-ExtraBoldItalic.ttf</string>
		<string>Jost-ExtraLight.ttf</string>
		<string>Jost-ExtraLightItalic.ttf</string>
		<string>Jost-Italic.ttf</string>
		<string>Jost-Light.ttf</string>
		<string>Jost-LightItalic.ttf</string>
		<string>Jost-Medium.ttf</string>
		<string>Jost-MediumItalic.ttf</string>
		<string>Jost-Regular.ttf</string>
		<string>Jost-SemiBold.ttf</string>
		<string>Jost-SemiBoldItalic.ttf</string>
		<string>Jost-Thin.ttf</string>
		<string>Jost-ThinItalic.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
		<string>Roboto-ExtraBoldItalic.ttf</string>
		<string>Roboto-ExtraLight.ttf</string>
		<string>Roboto-ExtraLightItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-SemiBoldItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Rubik_Scribble-Black.ttf</string>
		<string>Rubik_Scribble-BlackItalic.ttf</string>
		<string>Rubik_Scribble-Bold.ttf</string>
		<string>Rubik_Scribble-BoldItalic.ttf</string>
		<string>Rubik_Scribble-ExtraBold.ttf</string>
		<string>Rubik_Scribble-ExtraBoldItalic.ttf</string>
		<string>Rubik_Scribble-ExtraLight.ttf</string>
		<string>Rubik_Scribble-ExtraLightItalic.ttf</string>
		<string>Rubik_Scribble-Italic.ttf</string>
		<string>Rubik_Scribble-Light.ttf</string>
		<string>Rubik_Scribble-LightItalic.ttf</string>
		<string>Rubik_Scribble-Medium.ttf</string>
		<string>Rubik_Scribble-MediumItalic.ttf</string>
		<string>Rubik_Scribble-Regular.ttf</string>
		<string>Rubik_Scribble-SemiBold.ttf</string>
		<string>Rubik_Scribble-SemiBoldItalic.ttf</string>
		<string>Rubik_Scribble-Thin.ttf</string>
		<string>Rubik_Scribble-ThinItalic.ttf</string>
		<string>Merriweather-Black.ttf</string>
		<string>Merriweather-BlackItalic.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-BoldItalic.ttf</string>
		<string>Merriweather-ExtraBold.ttf</string>
		<string>Merriweather-ExtraBoldItalic.ttf</string>
		<string>Merriweather-ExtraLight.ttf</string>
		<string>Merriweather-ExtraLightItalic.ttf</string>
		<string>Merriweather-Italic.ttf</string>
		<string>Merriweather-Light.ttf</string>
		<string>Merriweather-LightItalic.ttf</string>
		<string>Merriweather-Medium.ttf</string>
		<string>Merriweather-MediumItalic.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Merriweather-SemiBold.ttf</string>
		<string>Merriweather-SemiBoldItalic.ttf</string>
		<string>Merriweather-Thin.ttf</string>
		<string>Merriweather-ThinItalic.ttf</string>
		<string>Ubuntu-Black.ttf</string>
		<string>Ubuntu-BlackItalic.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-ExtraBold.ttf</string>
		<string>Ubuntu-ExtraBoldItalic.ttf</string>
		<string>Ubuntu-ExtraLight.ttf</string>
		<string>Ubuntu-ExtraLightItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Ubuntu-SemiBold.ttf</string>
		<string>Ubuntu-SemiBoldItalic.ttf</string>
		<string>Ubuntu-Thin.ttf</string>
		<string>Ubuntu-ThinItalic.ttf</string>
		<string>Work_Sans-Black.ttf</string>
		<string>Work_Sans-BlackItalic.ttf</string>
		<string>Work_Sans-Bold.ttf</string>
		<string>Work_Sans-BoldItalic.ttf</string>
		<string>Work_Sans-ExtraBold.ttf</string>
		<string>Work_Sans-ExtraBoldItalic.ttf</string>
		<string>Work_Sans-ExtraLight.ttf</string>
		<string>Work_Sans-ExtraLightItalic.ttf</string>
		<string>Work_Sans-Italic.ttf</string>
		<string>Work_Sans-Light.ttf</string>
		<string>Work_Sans-LightItalic.ttf</string>
		<string>Work_Sans-Medium.ttf</string>
		<string>Work_Sans-MediumItalic.ttf</string>
		<string>Work_Sans-Regular.ttf</string>
		<string>Work_Sans-SemiBold.ttf</string>
		<string>Work_Sans-SemiBoldItalic.ttf</string>
		<string>Work_Sans-Thin.ttf</string>
		<string>Work_Sans-ThinItalic.ttf</string>
		<string>Workbench-Black.ttf</string>
		<string>Workbench-BlackItalic.ttf</string>
		<string>Workbench-Bold.ttf</string>
		<string>Workbench-BoldItalic.ttf</string>
		<string>Workbench-ExtraBold.ttf</string>
		<string>Workbench-ExtraBoldItalic.ttf</string>
		<string>Workbench-ExtraLight.ttf</string>
		<string>Workbench-ExtraLightItalic.ttf</string>
		<string>Workbench-Italic.ttf</string>
		<string>Workbench-Light.ttf</string>
		<string>Workbench-LightItalic.ttf</string>
		<string>Workbench-Medium.ttf</string>
		<string>Workbench-MediumItalic.ttf</string>
		<string>Workbench-Regular.ttf</string>
		<string>Workbench-SemiBold.ttf</string>
		<string>Workbench-SemiBoldItalic.ttf</string>
		<string>Workbench-Thin.ttf</string>
		<string>Workbench-ThinItalic.ttf</string>
		<string>Bebas_Neue-Black.ttf</string>
		<string>Bebas_Neue-BlackItalic.ttf</string>
		<string>Bebas_Neue-Bold.ttf</string>
		<string>Bebas_Neue-BoldItalic.ttf</string>
		<string>Bebas_Neue-ExtraBold.ttf</string>
		<string>Bebas_Neue-ExtraBoldItalic.ttf</string>
		<string>Bebas_Neue-ExtraLight.ttf</string>
		<string>Bebas_Neue-ExtraLightItalic.ttf</string>
		<string>Bebas_Neue-Italic.ttf</string>
		<string>Bebas_Neue-Light.ttf</string>
		<string>Bebas_Neue-LightItalic.ttf</string>
		<string>Bebas_Neue-Medium.ttf</string>
		<string>Bebas_Neue-MediumItalic.ttf</string>
		<string>Bebas_Neue-Regular.ttf</string>
		<string>Bebas_Neue-SemiBold.ttf</string>
		<string>Bebas_Neue-SemiBoldItalic.ttf</string>
		<string>Bebas_Neue-Thin.ttf</string>
		<string>Bebas_Neue-ThinItalic.ttf</string>
		<string>Abel-Black.ttf</string>
		<string>Abel-BlackItalic.ttf</string>
		<string>Abel-Bold.ttf</string>
		<string>Abel-BoldItalic.ttf</string>
		<string>Abel-ExtraBold.ttf</string>
		<string>Abel-ExtraBoldItalic.ttf</string>
		<string>Abel-ExtraLight.ttf</string>
		<string>Abel-ExtraLightItalic.ttf</string>
		<string>Abel-Italic.ttf</string>
		<string>Abel-Light.ttf</string>
		<string>Abel-LightItalic.ttf</string>
		<string>Abel-Medium.ttf</string>
		<string>Abel-MediumItalic.ttf</string>
		<string>Abel-Regular.ttf</string>
		<string>Abel-SemiBold.ttf</string>
		<string>Abel-SemiBoldItalic.ttf</string>
		<string>Abel-Thin.ttf</string>
		<string>Abel-ThinItalic.ttf</string>
		<string>Bitter-Black.ttf</string>
		<string>Bitter-BlackItalic.ttf</string>
		<string>Bitter-Bold.ttf</string>
		<string>Bitter-BoldItalic.ttf</string>
		<string>Bitter-ExtraBold.ttf</string>
		<string>Bitter-ExtraBoldItalic.ttf</string>
		<string>Bitter-ExtraLight.ttf</string>
		<string>Bitter-ExtraLightItalic.ttf</string>
		<string>Bitter-Italic.ttf</string>
		<string>Bitter-Light.ttf</string>
		<string>Bitter-LightItalic.ttf</string>
		<string>Bitter-Medium.ttf</string>
		<string>Bitter-MediumItalic.ttf</string>
		<string>Bitter-Regular.ttf</string>
		<string>Bitter-SemiBold.ttf</string>
		<string>Bitter-SemiBoldItalic.ttf</string>
		<string>Bitter-Thin.ttf</string>
		<string>Bitter-ThinItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-Black.ttf</string>
		<string>Edu_NSW_ACT_Foundation-BlackItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-Bold.ttf</string>
		<string>Edu_NSW_ACT_Foundation-BoldItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-ExtraBold.ttf</string>
		<string>Edu_NSW_ACT_Foundation-ExtraBoldItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-ExtraLight.ttf</string>
		<string>Edu_NSW_ACT_Foundation-ExtraLightItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-Italic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-Light.ttf</string>
		<string>Edu_NSW_ACT_Foundation-LightItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-Medium.ttf</string>
		<string>Edu_NSW_ACT_Foundation-MediumItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-Regular.ttf</string>
		<string>Edu_NSW_ACT_Foundation-SemiBold.ttf</string>
		<string>Edu_NSW_ACT_Foundation-SemiBoldItalic.ttf</string>
		<string>Edu_NSW_ACT_Foundation-Thin.ttf</string>
		<string>Edu_NSW_ACT_Foundation-ThinItalic.ttf</string>
		<string>Zilla_Slab-Black.ttf</string>
		<string>Zilla_Slab-BlackItalic.ttf</string>
		<string>Zilla_Slab-Bold.ttf</string>
		<string>Zilla_Slab-BoldItalic.ttf</string>
		<string>Zilla_Slab-ExtraBold.ttf</string>
		<string>Zilla_Slab-ExtraBoldItalic.ttf</string>
		<string>Zilla_Slab-ExtraLight.ttf</string>
		<string>Zilla_Slab-ExtraLightItalic.ttf</string>
		<string>Zilla_Slab-Italic.ttf</string>
		<string>Zilla_Slab-Light.ttf</string>
		<string>Zilla_Slab-LightItalic.ttf</string>
		<string>Zilla_Slab-Medium.ttf</string>
		<string>Zilla_Slab-MediumItalic.ttf</string>
		<string>Zilla_Slab-Regular.ttf</string>
		<string>Zilla_Slab-SemiBold.ttf</string>
		<string>Zilla_Slab-SemiBoldItalic.ttf</string>
		<string>Zilla_Slab-Thin.ttf</string>
		<string>Zilla_Slab-ThinItalic.ttf</string>
		<string>Caveat-Black.ttf</string>
		<string>Caveat-BlackItalic.ttf</string>
		<string>Caveat-Bold.ttf</string>
		<string>Caveat-BoldItalic.ttf</string>
		<string>Caveat-ExtraBold.ttf</string>
		<string>Caveat-ExtraBoldItalic.ttf</string>
		<string>Caveat-ExtraLight.ttf</string>
		<string>Caveat-ExtraLightItalic.ttf</string>
		<string>Caveat-Italic.ttf</string>
		<string>Caveat-Light.ttf</string>
		<string>Caveat-LightItalic.ttf</string>
		<string>Caveat-Medium.ttf</string>
		<string>Caveat-MediumItalic.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Caveat-SemiBold.ttf</string>
		<string>Caveat-SemiBoldItalic.ttf</string>
		<string>Caveat-Thin.ttf</string>
		<string>Caveat-ThinItalic.ttf</string>
		<string>Abril_Fatface-Black.ttf</string>
		<string>Abril_Fatface-BlackItalic.ttf</string>
		<string>Abril_Fatface-Bold.ttf</string>
		<string>Abril_Fatface-BoldItalic.ttf</string>
		<string>Abril_Fatface-ExtraBold.ttf</string>
		<string>Abril_Fatface-ExtraBoldItalic.ttf</string>
		<string>Abril_Fatface-ExtraLight.ttf</string>
		<string>Abril_Fatface-ExtraLightItalic.ttf</string>
		<string>Abril_Fatface-Italic.ttf</string>
		<string>Abril_Fatface-Light.ttf</string>
		<string>Abril_Fatface-LightItalic.ttf</string>
		<string>Abril_Fatface-Medium.ttf</string>
		<string>Abril_Fatface-MediumItalic.ttf</string>
		<string>Abril_Fatface-Regular.ttf</string>
		<string>Abril_Fatface-SemiBold.ttf</string>
		<string>Abril_Fatface-SemiBoldItalic.ttf</string>
		<string>Abril_Fatface-Thin.ttf</string>
		<string>Abril_Fatface-ThinItalic.ttf</string>
		<string>Orbitron-Black.ttf</string>
		<string>Orbitron-BlackItalic.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-BoldItalic.ttf</string>
		<string>Orbitron-ExtraBold.ttf</string>
		<string>Orbitron-ExtraBoldItalic.ttf</string>
		<string>Orbitron-ExtraLight.ttf</string>
		<string>Orbitron-ExtraLightItalic.ttf</string>
		<string>Orbitron-Italic.ttf</string>
		<string>Orbitron-Light.ttf</string>
		<string>Orbitron-LightItalic.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-MediumItalic.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Orbitron-SemiBold.ttf</string>
		<string>Orbitron-SemiBoldItalic.ttf</string>
		<string>Orbitron-Thin.ttf</string>
		<string>Orbitron-ThinItalic.ttf</string>
		<string>Acme-Black.ttf</string>
		<string>Acme-BlackItalic.ttf</string>
		<string>Acme-Bold.ttf</string>
		<string>Acme-BoldItalic.ttf</string>
		<string>Acme-ExtraBold.ttf</string>
		<string>Acme-ExtraBoldItalic.ttf</string>
		<string>Acme-ExtraLight.ttf</string>
		<string>Acme-ExtraLightItalic.ttf</string>
		<string>Acme-Italic.ttf</string>
		<string>Acme-Light.ttf</string>
		<string>Acme-LightItalic.ttf</string>
		<string>Acme-Medium.ttf</string>
		<string>Acme-MediumItalic.ttf</string>
		<string>Acme-Regular.ttf</string>
		<string>Acme-SemiBold.ttf</string>
		<string>Acme-SemiBoldItalic.ttf</string>
		<string>Acme-Thin.ttf</string>
		<string>Acme-ThinItalic.ttf</string>
		<string>Concert_One-Black.ttf</string>
		<string>Concert_One-BlackItalic.ttf</string>
		<string>Concert_One-Bold.ttf</string>
		<string>Concert_One-BoldItalic.ttf</string>
		<string>Concert_One-ExtraBold.ttf</string>
		<string>Concert_One-ExtraBoldItalic.ttf</string>
		<string>Concert_One-ExtraLight.ttf</string>
		<string>Concert_One-ExtraLightItalic.ttf</string>
		<string>Concert_One-Italic.ttf</string>
		<string>Concert_One-Light.ttf</string>
		<string>Concert_One-LightItalic.ttf</string>
		<string>Concert_One-Medium.ttf</string>
		<string>Concert_One-MediumItalic.ttf</string>
		<string>Concert_One-Regular.ttf</string>
		<string>Concert_One-SemiBold.ttf</string>
		<string>Concert_One-SemiBoldItalic.ttf</string>
		<string>Concert_One-Thin.ttf</string>
		<string>Concert_One-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
